{% load static %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" content="Anirudh Goel" />

	<title>Dobby</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'dobby/css/style.css' %}" />
	<link rel="shortcut icon" href="{% static 'dobby/favicon.png' %}">
</head>
<body>
	<video poster="{% static 'dobby/img/back.png' %}" id="bgvid" playsinline autoplay muted loop>
	<source src="{% static 'dobby/mp4/back.mp4' %}" type="video/mp4">
	</video>
	<div class="top">
		<input type="text" placeholder="Username" class="cd" id="username">
		<span style="display:inline-block; width: 10px;"></span>
		<input type="password" class="cd" placeholder="Password" id="password" onkeyup="login(event);">
		<span style="display:inline-block; width: 10px;"></span>
		<button onclick="login(event);">Sign In</button>
		<span style="display:inline-block; width: 10px;"></span>
		<button class="c">Sign Up </button>
	</div>
	<div class="do">DOBBY</div>
	<br>
	<div class="sdo"><center>The Friend You Need!</center></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'dobby/js/index.js' %}"></script>
</body>
</html>