<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="author" content="Anirudh Goel" />

    <title>Dobby</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'dobby/css/profile.css' %}" />
    <link rel="shortcut icon" href="{% static 'dobby/favicon.png' %}" />
</head>
<body>
<div class="header"><center>EDIT PROFILE</center>
</div>
<div class="propic">
    <img src="hen.jpg">
    <div class="profile">
        USERNAME
        <br>
        HandleName
        <br>
        <br>
        Status
        <hr>
        Location
       
    </div>
</div>
<div class="contents">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="c"><center>INTERESTS</center></div>
    <div class="interests">
        Guitar
        <br><br>
        Cooking
        <br><br>
        <button>Add more</button><span style="display:inline-block; width: 40px;"></span><input class='in' type="text">
    </div>
</div>

</body>
</html>
