{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" content="Anirudh Goel" />
	
	<title>Search Interests</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'dobby/css/search.css' %}" />
	<link rel="shortcut icon" href="{% static 'dobby/favicon.png' %}" />
</head>
<body>
	<div id="g1">
		<div style="float: left; margin-left: 20%;">
			SEARCH INTERESTS
		</div>
	</div>
	<div id="content">
		<input type="text" value={{userId}} id="userId" hidden>
		<div id="searchfield">
			<form class="go"><input name="anime" id="autocomplete" type="text" class="biginput"></form>
		</div>
		<br>
		<br>
		<div id="outputbox" align="center">
			<p id="outputcontent"></p>
		</div>
	</div>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'dobby/js/jquery.autocomplete.min.js' %}"></script>
	<script>

		$(function(){
			var anime = [
				'Swimming',
				'Painting',
				'Coding',
				'Cooking',
				'Guitar',
				'Keyboard',
				'Singing'
			];
			$('#autocomplete').autocomplete({
				lookup: anime,
				onSelect: function (suggestion) {

					$.getJSON("/dobby/showSearch/", {skillName: $("#autocomplete").val()}, function(data) {
						resp = data.response;
						var thehtml = "";
						for (var i = 0; i < Object.keys(resp).length; i++) {
							if (resp[i]['userId'] != $("#userId").val()) {
								thehtml += "<div class='box'>" + resp[i]['name'] + "<br>" + resp[i]['location'] + "<br><br><button class='addToPend' id='" + resp[i]['userId'] + "' onclick='addToPending(event);'>Request to Learn</button></div>";
							}
						}
						$('#outputcontent').html(thehtml);

					});

				}
			});
		});

		function addToPending(event) {
			console.log(event.target.id);
			$.getJSON("/dobby/addToPending", {skillName: $("#autocomplete").val(), teacherId: event.target.id, learnerId: $("#userId").val()}, function(data) {
				console.log(data);
				$("#"+event.target.id).fadeOut();
			});
		}
	</script>
</body>
</html>